{% extends 'profiles/base.html' %}
{% block title %}{{user.username}} - Edit Profile{% endblock %}
{% block main %}


<div class="row">
<div class="col-md-8 col-md-offset-2">
  <div class="panel panel-login">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-8">
        <h5>Edit Profile:</h5>
        <h3 id="register-form-link">{{user.username}}</h3>
      </div>
    </div>
    <hr>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-12">
        <form id="profile-form" action={% url 'profiles:edit' %} method="post" role="form" style="display: block;">
          {% csrf_token %}
          {% if form.non_field_errors %}
          <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>{{form.non_field_errors}}</strong>
          </div>
          {% endif %}
          {% for field in form %}
          {% if field.errors %}
          <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>{{field.label}}: </strong>{% for error in field.errors %}{{error}}{% endfor %}
          </div>
          {% endif %}
          {% endfor %}
          <div class="form-group">
            <input type="text" name="screen_name" id="id_screen_name" tabindex="1" class="form-control" placeholder="Name you want appear on our website" value="">
          </div>
          <div class="form-group">
            <input type="text" name="location" id="id_location" tabindex="2" class="form-control" placeholder="Your location">
          </div>
          <div class="form-group">
            <input type="number" name="adds_added" id="id_adds_added" tabindex="2" class="form-control" placeholder="Your adds count">
          </div>
          <div class="form-group">
            <input type="file" name="profile_pic" id="id_profile_pic" tabindex="2" class="form-control" placeholder='Upload Image'>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                <input type="submit" name="submit" id="register-submit" tabindex="4" class="form-control btn btn-primary" value="Save">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
</div>
{% endblock %}
